html {
  background-image: url(fallinghearts9tr.gif);
  font-family: 'DotGothic16', sans-serif;
  font-family: 'Handjet', cursive;
  font-size: medium;
}

#container1 {

  border: yellow 7px groove;
  padding: 3em;
  background-image: url(pbrick.jpeg);
  font-size: larger;
  font-weight: bold;


}


#one {
  background-image: url(blobsflower.gif);
  background-repeat: no-repeat;
  padding: 3rem;

}


#two {
  color: black;
  border: pink 5px solid;
  background-color: aliceblue;
  position: absolute;

}


#welcome {
  position: absolute;
  right: 3rem;
  top: 2em;
}

#footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}



#drakeee {
  position: relative;
  top: 200px;
}


#angel {
  position: absolute;
  right: 200px;

}